<!DOCTYPE html>
<html>
    <head>
        <title>My Markdown Content</title>
        <link rel="stylesheet" href="../style/stylesheet.css">
        <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    </head>
    <body>
        <div class="toplevel">
        <div class="card">
        <img src="../images/back.png" alt="A back arrow"> Back
        {{content}}

        <a href="https://github.com/tedbauer/tedbauer.github.io/edit/master/pages/{{path}}">Fix a typo</a>
        </div>
        </div>
    </body>
</html>