.card {
    width: 400px;
    margin: 20px;
    padding: 25px;
    position: relative;
    
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    box-shadow: black 5px 5px;

    font-family: 'Merriweather', serif;
}

.toplevel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: relative;
}


.back-button {
    padding: 3px;
    width: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.butt:hover {
    background-color: dodgerblue;
    background-color: lightblue;
    transform: scale(1.05);
}